django
requests #python install requests
django-cors-headers #python -m pip install django-cors-headers
mysqlclient #pip install mysqlclient
psycopg2-binary #pip install psycopg2-binary
django-cockroaddb #pip install django-cockroachdb
python-dotenv #pip install python-dotenv.
dj-database-url #pip install dj-database-url

## database name :insight_database
## password:
## username: root
## port : 3306
## python manage.py runserver