{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center mt-3">Contestant Room</h1>

  {% if room %}
    {% for room in rooms %}
    <table class="table table-bordered mt-3 text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">RoomID</th>
          <th scope="col">Mentor</th>
          <th scope="col">Test</th>
          <th scope="col">Submission</th>
          <th scope="col">Submission Sign</th>
        </tr>
      </thead>

      <tbody class="overflow-auto">
        {% for test in room_details %}
        <tr>
          <th scope="row" class="col-1">{{ forloop.counter }}</th>
          <td class="col-3">{{ room.id }}</td>
          <td class="col-2">{{ test.mentor_id.username }}</td> 

          <!-- test -->
          {% if not test.exam_cid %}
            <td class="col-2">No submission</td>
          {% else %}
            <td class="col-2">
              <button type="button" class="btn btn-success" onclick="viewTest('{{ contestant._id }}')">View</button>
            </td>
          {% endif %}

          {% if not test.answer_cid %}
            <td class="col-2">
              <button style="cursor: pointer;" class="btn btn-danger" onclick="submit('{{ contestant._id }}')">Submit</button>
            </td>
          {% else %}
            <td class="col-2">
              <button style="cursor: pointer;"  class="btn btn-success" onclick="viewSubmit('{{ contestant._id }}')">View</button>
            </td>
          {% endif %}
            
          <!-- Submission Sign -->
          {% if test.mentor_signature %}
            <td class="col-2">
              <button style="cursor: pointer;" class="btn btn-success" onclick="viewSubmitSign('{{ contestant._id }}')">View</button>
            </td>
          {% else %}
            <td class="col-2">None</td>
          {% endif %}
        </tr>
          {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  {% else %}
    <h2 class="text-center mt-3">No room found</h2>
  {% endif %}
{% endblock %}