{% extends 'Room/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href='{% static "former_view.css" %}'>

<script>
    let my_url = "{% url 'Room:former' com_id=community.pk %}";
    let csrftoken = "{{ csrf_token }}";
  </script>
  
  <script src='{% static "sign.js"%}'></script>

<div id="page-container">
    <main id="content">
        <div id="content-body">
            <div class="middle-content wrapper">
                <div class="main-content">
                    <h3 class="toggle open contest-group-header">
                        <i class="fa fa-chevron-right fa-fw"></i>
                        Rooms
                    </h3>
                    {% if rooms %}
                        {% for room in rooms %} 
                            <div class="list-contest">
                                <div class="info-contest" style="flex: 1.5">
                                    <div class="contest-title"> Room </div>
                                    <a href="{% url 'Room:room_details' com_id=community.pk room_id=room.pk %}">{{ room.id }}</a>
                                </div>
                                <div class="info-contest" style="flex: 1.5">
                                    <div class="contest-title"> Contestant </div>
                                    <div class="contest-block">
                                        {{ room.student_id.username}}
                                    </div>
                                </div>
                                <div class="info-contest">
                                    <div class="contest-title"> Final Result </div>
                                    {{ room.final_grade }}
                                </div>
                                <div class="info-contest">
                                    <div class="contest-title"> Previous Grade </div>
                                    {{ room.prev_grade }}
                                </div>
                                {% if not room.final_grade %}
                                <div class="participate-button">
                                    <button class="unselectable button full small join-warning" value="Sign" style="color: white;"
                                            onclick="sign('{{room.id}}', '{{room.final_grade}}')"
                                        >Sign
                                </div>
                                {% endif %}
                            </div>

                        {% endfor %}
                        <br>
                    {% else %}
                        <div class="toggled">
                            <i> 'There is no ongoing room at this time.' </i>
                            <br>
                        </div>
                    {% endif %} 
                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}