{% extends 'Room/base.html' %}
{% block content %}
{% load static %}

<script>
  let my_url = "{% url 'Room:mentor' com_id=community.pk %}";
  let csrftoken = "{{ csrf_token }}";
</script>

<script src='{% static "sign.js"%}'></script>

  <h1 class="text-center mt-3">Mentor Room</h1>

  {% if room_details %}
    <table class="table table-bordered mt-3 text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">RoomID</th>
          <th scope="col">Contestant</th>
          <th scope="col">Test</th>
          <th scope="col">Test Signature</th>
          <th scope="col">Submission</th>
          <th scope="col">Submission Signature</th>
          <th scope="col">Score</th>
          <th scope="col">Score Signature</th>
        </tr>
      </thead>
      
      <tbody class="overflow-auto">
        {% for room in room_details %}
        <tr>
          <th scope="row" class="col-1">{{ forloop.counter }}</th>
          <td class="col-2">
            <a href="{% url 'Room:room_details' com_id=community.pk room_id=room.room_id.pk %}">
              {{ room.room_id.id }}
            </a>
          </td>
          <td class="col-2">{{ room.room_id.student_id.username }}</td>
          
          <!-- test -->
          {% if not room.exam_cid %}
            <td class="col-1">
              <input type="file" accept="application/pdf" name="doc" id="upload file" hidden
                onchange="signFile('{{room.id}}', this)">
              </input>
              <label for="upload file" class="btn btn-danger">Upload</label>
            </td>
          {% else %}
            <td class="col-1">
              <form method="POST">{% csrf_token %}
                <input type="hidden" name="download" value={{room.exam_cid}}></input>
                <input type="hidden" name="title" value={{room.id}}></input>
                <button type="submit" class="btn btn-success">View</button>
              </form>
            </td>
          {% endif %}

          <!-- Test Sign -->
          {% if room.mentor_signature %}
            <td class="col-1">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gradeModalmentor{{room.id}}">View</button>
              <div class="modal fade" id="gradeModalmentor{{room.id}}" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h2>Mentor Signature</h2>
                    </div>
                    <div class="modal-body">
                      <form id="gradeForm">
                        <div class="mb-3">
                          <p style="word-wrap: break-word;">{{room.mentor_signature}}</p>
                          <p style="word-wrap: break-word; display: none;" id="signed_mentor_{{room.id}}">Signed by 
                            <a href="{% url 'Room:profile' com_id=community.pk user_id=room.mentor_id.pk %}">
                              {{room.mentor_id.myuser.metamaskID}}
                            </a>
                          </p>
                        </div>
                        <button type="button" class="btn btn-danger" onclick="viewSign('{{room.id}}', 'mentor','{{room.mentor_signature}}','{{room.mentor_id.myuser.metamaskID}}')">Verify</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          {% elif room.exam_cid %}
            <td class="col-1">  
              <button class="btn btn-danger" onclick="sign('{{room.id}}', '{{room.exam_cid}}')">Sign</button>
            </td>
          {% else %}
            <td class="col-1">None</td>
          {% endif %}

          <!-- Submission -->
          {% if room.answer_cid and room.student_signature %}
            <td class="col-1">
              <form method="POST">{% csrf_token %}
                <input type="hidden" name="download" value={{room.answer_cid}}></input>
                <input type="hidden" name="title" value={{room.id}}></input>
                <button type="submit" class="btn btn-success">View</button>
              </form>
            </td>
          {% else %}
            <td class="col-1">None</td>
          {% endif %}

          <!-- Submission Sign -->
          {% if room.student_signature %}
            <td class="col-1">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gradeModalstudent{{room.id}}">View</button>
              <div class="modal fade" id="gradeModalstudent{{room.id}}" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h2>Student Signature</h2>
                    </div>
                    <div class="modal-body">
                      <form id="gradeForm">
                        <div class="mb-3">
                          <p style="word-wrap: break-word;">{{room.student_signature}}</p>
                          <p style="word-wrap: break-word; display: none;" id="signed_student_{{room.id}}">Signed by 
                            <a href="{% url 'Room:profile' com_id=community.pk user_id=room.room_id.student_id.pk %}">
                              {{room.room_id.student_id.myuser.metamaskID}}
                            </a>
                          </p>
                        </div>
                        <button type="button" class="btn btn-danger" onclick="viewSign('{{room.id}}', 'student','{{room.student_signature}}','{{room.room_id.student_id.myuser.metamaskID}}')">Verify</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          {% else %}
            <td class="col-1">None</td>
          {% endif %}
          
          <!-- Score -->          
          {% if room.grade %}
            <td class="col-1">{{ room.grade }}</td>
          {% elif room.answer_cid and room.student_signature %}
            <td class="col-1">
              <!-- Score button -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gradeModal{{room.id}}">Score</button>

              <div class="modal fade" id="gradeModal{{room.id}}" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form id="gradeForm">
                        <div class="mb-3">
                          <label for="score" class="col-form-label">Enter Score:</label>
                          <input type="number" class="form-control" id="score{{room.id}}" name="score" required min="0" max="10">
                        </div>
                        <button type="button" class="btn btn-danger" onclick="signScore('{{room.id}}')">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          {% else %}
            <td class="col-1">None</td>
          {% endif %}

          <!-- Score Sign -->
          {% if room.score_signature %}
            <td class="col-1">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gradeModalscore{{room.id}}">View</button>
              <div class="modal fade" id="gradeModalscore{{room.id}}" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h2>Score Signature</h2>
                    </div>
                    <div class="modal-body">
                      <form id="gradeForm">
                        <div class="mb-3">
                          <p style="word-wrap: break-word;">{{room.score_signature}}</p>
                          <p style="word-wrap: break-word; display: none;" id="signed_score_{{room.id}}">Signed by 
                            <a href="{% url 'Room:profile' com_id=community.pk user_id=room.mentor_id.pk %}">
                              {{room.mentor_id.myuser.metamaskID}}
                            </a>
                          </p>
                        </div>
                        <button type="button" class="btn btn-danger" onclick="viewSign('{{room.id}}', 'score','{{room.score_signature}}','{{room.mentor_id.myuser.metamaskID}}')">Verify</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>              
            </td>
          {% else %}
            <td class="col-1">None</td>
          {% endif %}

        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2 class="text-center mt-3">No room found</h2>
  {% endif %}

<!-- Button trigger modal -->
<button id="button-launch-modal"  type="button" class="d-none btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>abc</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}