{% extends "Room/base.html" %}
{% block content %}
{% load static %}
<script>
  let my_url = "{% url 'Room:contestant_details' com_id=community.pk room_id=room.id %}";
  let csrftoken = "{{ csrf_token }}";
</script>

<script src='{% static "sign.js"%}'></script>

<div class="container">
  {% if room.id %}
    {% if room.final_grade %}
      <h1 class="" style="color: green">
        Room {{room.id}}</h1>
    {% else %}
      <h1 class="" style="color: red">
        Room {{room.id}}</h1>
    {% endif %}
  {% else %}
    <h1 class="" style="color: green">Room Viewer</h1>
  {% endif %}
  
  <ol>
    {% if room.id %} 
      <li>Room ID: {{room.id}}</li>
    {% endif %}

    <li>
      Room Contestant: {{room.student_id.username}}
      <ol>
        <li>Score: {{room.prev_grade}}</li>
        <li>Wanted Score: {{room.wanted_grade}}</li>
      </ol>
    </li>
  
    <li>
      Room Mentor:
      <ul>
        {% for mentor in room_details %}
        <li>{{mentor.mentor_id.username}}</li>
        {% endfor %}
      </ul>
    </li>
  
    <li>
      Room Final Average Score: {{room.final_grade}}
    </li>
  </ol>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gradeModalformer">View Former Signature</button>
  <div class="modal fade text-center" id="gradeModalformer" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2>Former Signature</h2>
        </div>
        <div class="modal-body">
          <form id="gradeForm">
            <div class="mb-3">
              <p style="word-wrap: break-word;">{{room.former_signature}}</p>
            </div>
            <button type="button" class="btn btn-danger" onclick="viewSign('{{room.id}}', 'former','{{room.former_signature}}','{{former.metamaskID}}')">Verify</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <h4 class=""> Test, Submission and Score</h4>
  <table class="container table table-striped mt-3 text-center">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Mentor</th>
        <th scope="col">Test</th>
        <th scope="col">Test Signature</th>
        <th scope="col">Submission</th>
        <th scope="col">Submission Signature</th>
        <th scope="col">Score</th>
        <th scope="col">Score Signature</th>
      </tr>
    </thead>

    <tbody class="overflow-auto">
      {% for test in room_details %}
      <tr>
        <th scope="row" class="col-1">{{ forloop.counter }}</th>
        <td class="col-2">{{ test.mentor_id.username }}</td>
        
        <!-- Test -->
        {% if test.exam_cid and test.mentor_signature %}
        <td class="col-2">
          <form method="POST">{% csrf_token %}
            <input type="hidden" name="download" value={{test.exam_cid}}></input>
            <input type="hidden" name="title" value={{test.id}}></input>
            <button type="submit" class="btn btn-success">View</button>
          </form>
        </td> 
        {% else %}
        <td class="col-2"> None </td>
        {% endif %}
        
        <!-- Test Sign -->
        {% if test.mentor_signature %}
        <td class="col-1">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gradeModalmentor{{test.id}}">View</button>
          <div class="modal fade" id="gradeModalmentor{{test.id}}" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h2>Mentor Signature</h2>
                </div>
                <div class="modal-body">
                  <form id="gradeForm">
                    <div class="mb-3">
                      <p style="word-wrap: break-word;">{{test.mentor_signature}}</p>
                      <p style="word-wrap: break-word; display: none;" id="signed_mentor_{{test.id}}">Signed by 
                        <a href="{% url 'Room:profile' com_id=community.pk user_id=test.mentor_id.pk %}">
                          {{test.mentor_id.myuser.metamaskID}}
                        </a>
                      </p>
                    </div>
                    <button type="button" class="btn btn-danger" onclick="viewSign('{{test.id}}', 'mentor','{{test.mentor_signature}}','{{test.mentor_id.myuser.metamaskID}}')">Verify</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
        {% else %}
        <td class="col-1">None</td>
        {% endif %}
        
        <!-- Submission -->
        {% if test.answer_cid %}
        <td class="col-2">
          <form method="POST">{% csrf_token %}
            <input type="hidden" name="download" value={{test.answer_cid}}></input>
            <input type="hidden" name="title" value={{test.id}}></input>
            <button type="submit" class="btn btn-success">View</button>
          </form>
        </td> 
        {% elif not test.answer_cid %}
          {% if test.exam_cid and test.mentor_signature %}
          <td class="col-1">
            <input type="file" accept="application/pdf" name="doc" id="upload file" hidden
              onchange="signFile('{{test.id}}', this)">
            </input>
            <label for="upload file" class="btn btn-danger">Upload</label>
          </td>
          {% else %}
          <td class="col-2"> No test </td>
          {% endif %}  
        {% else %}
        <td class="col-2"> None </td>
        {% endif %}
        
        <!-- Submission Sign -->
        {% if test.student_signature %}
        <td class="col-1">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gradeModalstudent{{test.id}}">View</button>
          <div class="modal fade" id="gradeModalstudent{{test.id}}" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h2>Student Signature</h2>
                </div>
                <div class="modal-body">
                  <form id="gradeForm">
                    <div class="mb-3">
                      <p style="word-wrap: break-word;">{{test.student_signature}}</p>
                      <p style="word-wrap: break-word; display: none;" id="signed_student_{{test.id}}">Signed by 
                        <a href="{% url 'Room:profile' com_id=community.pk user_id=test.room_id.student_id.pk %}">
                          {{test.room_id.student_id.myuser.metamaskID}}
                        </a>
                      </p>
                    </div>
                    <button type="button" class="btn btn-danger" onclick="viewSign('{{test.id}}', 'student','{{test.student_signature}}','{{room.student_id.myuser.metamaskID}}')">Verify</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
        {% elif test.answer_cid %}
        <td class="col-1">    
          <button class="btn btn-danger" onclick="sign('{{test.id}}', '{{test.answer_cid}}')">Sign</button>
        </td>
        {% else %}
          <td class="col-1">None</td>
        {% endif %}

        <!-- Score -->
        {% if test.grade and test.score_signature %}
        <td class="col-2"> {{test.grade}} </td> 
        {% else %}
        <td class="col-2"> None </td>
        {% endif %}

        <!-- Score Sign -->
        {% if test.score_signature %}
        <td class="col-1">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#gradeModalscore{{test.id}}">View</button>
          <div class="modal fade" id="gradeModalscore{{test.id}}" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h2>Score Signature</h2>
                </div>
                <div class="modal-body">
                  <form id="gradeForm">
                    <div class="mb-3">
                      <p style="word-wrap: break-word;">{{test.score_signature}}</p>
                      <p style="word-wrap: break-word; display: none;" id="signed_score_{{test.id}}">Signed by 
                        <a href="{% url 'Room:profile' com_id=community.pk user_id=test.mentor_id.pk %}">
                          {{test.mentor_id.myuser.metamaskID}}
                        </a>
                      </p>
                    </div>
                    <button type="button" class="btn btn-danger" onclick="viewSign('{{test.id}}', 'score','{{test.score_signature}}','{{test.mentor_id.myuser.metamaskID}}')">Verify</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
        {% else %}
          <td class="col-1">None</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}