{% extends 'Room/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href='{% static "user_profile.css" %}'>

<div class="container justify-content-center">
  <h3 class="">{{ user.userid.username }}</h3>

  <ul> 
    <li>Score: {{ user.score }}</li>
    <li>Metamask address: {{ metamask }}</li>
  </ul>

  {% if rooms %}
  <table class="container table table-striped mt-3 text-center">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">RoomID</th>
        <th scope="col">Old Score</th>
        <th scope="col">New Score</th>
      </tr>
    </thead>

    <tbody class="overflow-auto">
      {% for room in rooms %}
      <tr>
        <th scope="row" class="col-1">{{ forloop.counter }}</th>
        <td class="col-2">
          {% if current_user == user.user_id %}
          <a href="{% url 'Room:contestant_details' com_id=community.pk room_id=room.pk %}">
            {{ room.id }}
          </a>
          {% else %}
          <a href="{% url 'Room:room_details' com_id=community.pk room_id=room.pk %}">
            {{ room.id }}
          </a>
          {% endif %}
        </td>
        <td class="col-2">{{ room.prev_grade }}</td>
        <td class="col-2">{{ room.final_grade }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h2 class="text-center mt-3">No room found</h2>
  {% endif %}
</div>

{% endblock %}