.doc-wrapper {
    padding: 48px;
    background-color: #fff;
    border-radius: var(--container-border-radius);
    display: grid;
    grid-template-columns: auto auto auto
}

.title-wrapper {
    margin-bottom: 16px;
}

.upload-doc-wrapper {
    margin-bottom: 16px;
    padding: 16px;
}
.quiz-item-wrapper {
    display: block;
    margin: 32px 24px;
    align-items: center;
    padding: 24px 32px;
    border-radius: 20px;
    background-color: rgb(223, 198, 198);
    box-shadow: 0 .5rem 1rem rgba(67, 185, 254, 0.237);
}


.document-card {
    width: 18rem !important;
    min-width: 14rem !important;
    padding: auto;
    text-align: center;
}