{% extends 'Community/community_base.html' %}

{% block title %}{{ community.name }}{% endblock %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'community_doc.css' %}">
{% endblock %}

{% block content %} 
<script src="https://cdn.jsdelivr.net/npm/web3@4.9.0/dist/web3.min.js"></script>

<div class="container">
        {% if isCreateQuizzes %}
        <div class="upload-doc-wrapper">
            <a class="border-btn" href="{% url 'Community:upload-quiz' pk=community.pk %}">
            Create A Quiz
            </a>
        </div>
        {% endif %}
        <div class="doc-wrapper">
            <!-- <div class="title-wrapper">
                <h3>All quizzes</h3>
            </div> -->
            {% for quiz in community_quizzes %}
                <div class="community-card card ms-2 me-2 mb-3" style="width: 16rem;">    
                    <img src='{% static "quiz-icon.jpg" %}' class="card-img-top" style="height: 120px; object-fit:cover;">
                    <div class="card-body shadow-sm">
                        <h5 class="card-title" value = {{quiz.title}} name="title">{{quiz.title}}</h5>
                        <p>Value: {{quiz.value}} IST</p>
                        <small>Created by {{quiz.creator_id}} </small><br>
                        <a type="button" class="btn btn-primary" href="{% url 'Community:quiz' pk=community.pk quiz_id=quiz.id%}">Do Quiz</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    
</div>
{% endblock %}