{% extends 'Community/community_base.html' %}

{% block title %}{{ community.name }}{% endblock %}
{% load static %}
{% load templatetags%}

{%block link%}
<link rel="stylesheet" href='{% static "add_community.css" %}'>
{%endblock%}
{% block content %} 
<script>
    async function get_result(){
        const form = document.getElementById("submit form");
        const formData = new FormData(form);
        await fetch("{% url 'Community:quiz' pk=community.pk quiz_id=quiz.id%}",{
            method: "POST",
            body: formData,
            headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            }})
        .then(response => response.json())
        .then(result =>{
            alert(result.result)
            location.replace("{% url 'Community:quiz-list' pk=community.pk %}")
        });
    }
</script>
<div class="container add-container">
    <div class="title-wrapper">
        <h1>Quiz {{quiz.title}}</h1>
    </div>
    <form id="submit form" method="POST">
        {% for q in questions %}
        <h2>Question {{forloop.counter}}: {{q.text}}</h2>
            {% for a in q.answer_set.all %}
            <input type="radio" id="{{a.id}}" name="{{q.id}}" value="{{a.id}}" >
            <!-- onclick="radio2select('{{a.id}}', '{{q.id}}')"> -->
            <label for="{{a.id}}">{{forloop.counter|to_char}}. {{a.text}}</label><br>  
            {% endfor %}
            <!-- <h3 style="display: inline">Your Answer:</h3>
            <select class="add-form-select" aria-label="Default select example" id="{{q.id}}" name="{{q.id}}" style="margin-bottom: 15px;" onchange="select2radio(this.value)">
                {% for a in q.answer_set.all %}
                <option value="{{a.id}}">{{forloop.counter|to_char}}</option>
                {% endfor %}
            </select> -->
        {% endfor %}
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                    <a class="btn btn-secondary" href="{% url 'Community:quiz-list' pk=community.pk %}">Cancel</a>
                    <button type="button" id="upload" class="btn btn-primary" onclick="get_result()" >Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}