{% extends 'Community/community_base.html' %}

{% block title %}{{ community.name }}{% endblock %}
{% load static %}
{% load templatetags%}

{%block link%}
<link rel="stylesheet" href='{% static "add_community.css" %}'>
<link rel="stylesheet" href="{% static 'community_doc.css' %}">
{%endblock%}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/web3@4.9.0/dist/web3.min.js"></script>
<script>
    async function get_result(){
        const form = document.getElementById("submit form");
        const formData = new FormData(form);
        await fetch("{% url 'Community:quiz' pk=community.pk quiz_id=quiz.id%}",{
            method: "POST",
            body: formData,
            headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            }})
        .then(response => response.json())
        .then(result =>{
            if(result.result == "Failed" || result.complete){
                document.getElementById("reward_btn").style.display = "none"
            }
            else{
                document.getElementById("return_btn").style.display = "none"
            }
            const modal = document.getElementById("gradeModal");
            const modal2 = new bootstrap.Modal(modal);
            modal2.show();
            document.getElementById("result").innerHTML = result.result;
        });
    }
</script>
<div class="container add-container">
    <div class="title-wrapper">
        <h1>{{quiz.title}}</h1>
    </div>
    <form id="submit form" method="POST">
        {% for q in questions %}
        <div class="quiz-item-wrapper">
        <h2>Question {{forloop.counter}}: {{q.text}}</h2>
            {% for a in q.answer_set.all %}
            <input type="radio" id="{{a.id}}" name="{{q.id}}" value="{{a.id}}" >
            <label for="{{a.id}}">{{forloop.counter|to_char}}. {{a.text}}</label><br>  
            {% endfor %}
        </div>
        {% endfor %}
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-center">
                    <a class="btn btn-secondary" href="{% url 'Community:quiz-list' pk=community.pk %}">Cancel</a>
                    <button type="button" id="upload" class="btn btn-primary" onclick="get_result()" >Finish</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade text-center" id="gradeModal" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true"  data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h2>Your Result</h2>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <p id="result"></p>
            </div>
        </div>
        <div class="modal-footer" id="reward">
            <a class="btn btn-secondary" id="return_btn" href="{% url 'Community:quiz-list' pk=community.pk %}">Return</a>
            <button type="button" id="reward_btn" href="{% url 'Community:quiz-list' pk=community.pk %}" class="btn btn-primary" onclick="rewardToken('{{metamask_id}}','{{quiz.value}}')">Claim reward</button>
        </div>
      </div>
    </div>
  </div>
<script src='{% static "transaction.js" %}'></script>
{% endblock %}